random(min,max)
  return floor(math(0, 'random')*(max - min + 1) + min)

for i in (1..11)
	.hub_greeting-message	span:nth-child({i})
		text-transform: uppercase
		transition-delay: random(200, 1200)ms

hub
 display: block

.hub 
	display: flex
	align-items: center
	justify-content: center
	min-height: 100%
	width: 100%
	overflow: hidden

	.transparent *
	.transparent
		opacity: 0

	.nondisplayed 
		display: none

	svg 
		position: absolute
		height: 100%
		width: 100%
		z-index: -1

	&_account
		display: flex
		flex-direction: column
		align-items: center

		&-img-container
			height: 130px
			width: 130px
			overflow: hidden
			border-radius: 50%
			img
				height: 100%


	&_greeting-message
		text-align: center
		& span  
			font-size: 30px
			letter-spacing: .1em
			transition: opacity 1300ms

	&_main
		transition: opacity 1300ms

	&_animation-container
		display: block
		position: relative
		overflow: hidden
		background: transparent !important

	&_img-container 
		text-align: center
		background-size: cover
		transition: all .5s
		margin: -1px
		img 
			width: 100%
	
	&_animation-container:hover	.hub_img-container 
		transform: scale(1.1,1.1)
